/* Global Styles */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
  }
  
  /* Logo Styles */
  .logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 150px;
    width: auto;
  }
  
  /* Container with the background image */
  .container {
    background-image: url('https://s2-techtudo.glbimg.com/C3GPvh6ECD-33n8Df_v1EecSL9o=/0x0:1600x1000/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2019/m/H/k84eHgTA2l7JhjO3Q6Aw/wallpaper-2560-x-1600-wallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Content div for text and button */
  .content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 8px;
  }
  
  .content h3 {
    margin-bottom: 20px;
  }
  
  /* Button Styles */
  button {
    background-color: #ff1b7b;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1ABC9C;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
  }
  